In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = pd.read_csv("sonar_dataset.csv",header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [18]:
df.isna().sum()

0     0
1     0
2     0
3     0
4     0
     ..
56    0
57    0
58    0
59    0
60    0
Length: 61, dtype: int64

In [20]:
x = df.drop(60,axis=1)

In [21]:
y=df[60]

In [22]:
y.head()

0    R
1    R
2    R
3    R
4    R
Name: 60, dtype: object

In [25]:
y = pd.get_dummies(y,drop_first = True)

In [26]:
y.head()

   R
0  1
1  1
2  1
3  1
4  1

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=5)

In [28]:
import tensorflow as tf
from tensorflow import keras


model = keras.Sequential([
    keras.layers.Dense(20, input_shape=(60,), activation='relu'),
    keras.layers.Dense(15, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

# opt = keras.optimizers.Adam(learning_rate=0.01)

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=10)

Epoch 1/10
6/6 [==============================] - 7s 37ms/step - loss: 0.7011 - accuracy: 0.4639
Epoch 2/10
6/6 [==============================] - 0s 4ms/step - loss: 0.6955 - accuracy: 0.4699
Epoch 3/10
6/6 [==============================] - 0s 5ms/step - loss: 0.6899 - accuracy: 0.5181
Epoch 4/10
6/6 [==============================] - 0s 5ms/step - loss: 0.6871 - accuracy: 0.5060
Epoch 5/10
6/6 [==============================] - 0s 5ms/step - loss: 0.6846 - accuracy: 0.5301
Epoch 6/10
6/6 [==============================] - 0s 6ms/step - loss: 0.6828 - accuracy: 0.5602
Epoch 7/10
6/6 [==============================] - 0s 6ms/step - loss: 0.6808 - accuracy: 0.5723
Epoch 8/10
6/6 [==============================] - 0s 6ms/step - loss: 0.6792 - accuracy: 0.5663
Epoch 9/10
6/6 [==============================] - 0s 6ms/step - loss: 0.6767 - accuracy: 0.5723
Epoch 10/10
6/6 [==============================] - 0s 6ms/step - loss: 0.6745 - accuracy: 0.5663

In [29]:
model.evaluate(X_test,y_test)

2/2 [==============================] - 1s 0s/step - loss: 0.6632 - accuracy: 0.5476

[0.6631878614425659, 0.5476190447807312]

In [31]:
model = keras.Sequential([
    keras.layers.Dense(20, input_shape=(60,), activation='relu'),
    keras.layers.Dropout(0.5),
    keras.layers.Dense(15, activation='relu'),
    keras.layers.Dropout(0.5),
    keras.layers.Dense(1, activation='sigmoid')
])

# opt = keras.optimizers.Adam(learning_rate=0.01)

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=10)

Epoch 1/10
6/6 [==============================] - 2s 8ms/step - loss: 0.6626 - accuracy: 0.5843
Epoch 2/10
6/6 [==============================] - 0s 9ms/step - loss: 0.6986 - accuracy: 0.5602
Epoch 3/10
6/6 [==============================] - 0s 8ms/step - loss: 0.7028 - accuracy: 0.5181
Epoch 4/10
6/6 [==============================] - 0s 12ms/step - loss: 0.7326 - accuracy: 0.4036
Epoch 5/10
6/6 [==============================] - 0s 9ms/step - loss: 0.7002 - accuracy: 0.5482
Epoch 6/10
6/6 [==============================] - 0s 9ms/step - loss: 0.7105 - accuracy: 0.5241
Epoch 7/10
6/6 [==============================] - 0s 7ms/step - loss: 0.6689 - accuracy: 0.6024
Epoch 8/10
6/6 [==============================] - 0s 5ms/step - loss: 0.7031 - accuracy: 0.5663
Epoch 9/10
6/6 [==============================] - 0s 6ms/step - loss: 0.6861 - accuracy: 0.5301
Epoch 10/10
6/6 [==============================] - 0s 8ms/step - loss: 0.7034 - accuracy: 0.5181

In [32]:
model.evaluate(X_test,y_test)

2/2 [==============================] - 0s 4ms/step - loss: 0.6595 - accuracy: 0.7143

[0.6594908833503723, 0.7142857313156128]