# ML using decision tree - Predicting employee salary more then 10k

In [1]:
import pandas as pd
import numpy as np

In [106]:
df = pd.read_excel("salary.xlsx")
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [3]:
inputs = df.drop("salary_more_then_100k",axis = 'columns')
target = df["salary_more_then_100k"]

now using one hot encoder to convert out text columns into no.s

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [11]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_company.fit_transform(inputs['company'])
inputs['degree_n'] = le_company.fit_transform(inputs['company'])

In [109]:
inputs

       company                  job     degree  company_n  job_n  degree_n
0       google      sales executive  bachelors          2      2         2
1       google      sales executive    masters          2      2         2
2       google     business manager  bachelors          2      2         2
3       google     business manager    masters          2      2         2
4       google  computer programmer  bachelors          2      2         2
5       google  computer programmer    masters          2      2         2
6   abc pharma      sales executive    masters          0      0         0
7   abc pharma  computer programmer  bachelors          0      0         0
8   abc pharma     business manager  bachelors          0      0         0
9   abc pharma     business manager    masters          0      0         0
10    facebook      sales executive  bachelors          1      1         1
11    facebook      sales executive    masters          1      1         1
12    facebook     business manager  bachelors          1      1         1
13    facebook     business manager    masters          1      1         1
14    facebook  computer programmer  bachelors          1      1         1
15    facebook  computer programmer    masters          1      1         1

In [18]:
inputs_n= inputs.drop(['company','job','degree'],axis = 'columns')

In [107]:
inputs_n.head

<bound method NDFrame.head of     company_n  job_n  degree_n
0           2      2         2
1           2      2         2
2           2      2         2
3           2      2         2
4           2      2         2
5           2      2         2
6           0      0         0
7           0      0         0
8           0      0         0
9           0      0         0
10          1      1         1
11          1      1         1
12          1      1         1
13          1      1         1
14          1      1         1
15          1      1         1>

In [22]:
target.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [95]:
from sklearn.model_selection import train_test_split

In [96]:
x_train,x_test,y_train,y_test = train_test_split(inputs_n,target,test_size= 0.2)

In [97]:
from sklearn import tree

In [98]:
model = tree.DecisionTreeClassifier()

In [99]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [100]:
model.score(x_test,y_test)

0.75

In [108]:
model.predict([[1,0,0]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)