#Home price prediction - project 1

In [28]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_excel("home_price.xlsx")
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [13]:
df['bedroom'].mean()

3.75

In [18]:
df2 = df.fillna({
    
    "bedroom":3.75
})
df2

   area  bedroom  age   price
0  2600     3.00   20  550000
1  3000     4.00   15  565000
2  3200     3.75   18  610000
3  3600     3.00   30  595000
4  4000     5.00    8  760000

In [10]:
df2['bedroom'].dtype

dtype('float64')

In [15]:
reg = linear_model.LinearRegression()
reg.fit(df2[['area','bedroom','age']],df2.price)

LinearRegression()

In [21]:
reg.predict([[2000,2,20]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([581324.53817919])

In [22]:
reg.coef_

array([    230.59826103, -167936.0972381 ,  -18554.36548529])

In [23]:
reg.intercept_

827087.5203080806